.title {
    padding: 15px;
    display: flex;
}

.title p {
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.title a {
    margin-right: 20px;
    transform: scale(1.3) translateY(3px);
}

.banner {
    max-width: 600px;
}

.profile img {
    margin-left: 20px;
    width: 75px;
    border: 2px solid var(--backgroundColor);
    border-radius: 10em;
    transform: scale(2) translate(20px, -22px);
}